<div id="modal-js-example" [ngClass]="{'modal': true, 'is-active':modal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Editar Animal</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <ng-template [ngIf]="animal">
        {{animal | json}}
      </ng-template>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="closeModal()">Fechar</button>
    </footer>
  </div>
</div>
