<app-tabs tab="animais"></app-tabs>
<div class="container mt-5 main">
  <div class="columns">
    <div class="column">
      <h1 class="title">Animais</h1>
    </div>
    <div class="column btn-novo">
      <button class="button is-info" (click)="adicionarAnimal()">Novo Animal</button>
    </div>
  </div>
  <table class="table is-bordered is-striped">
    <thead>
      <th>Nome</th>
      <th>Espécie</th>
      <th>Tamanho</th>
      <th>Descrição</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td>{{animal.nome}}</td>
        <td>{{animal.especie.nome}}</td>
        <td>{{retirarUnderscore(animal.tamanho) | titlecase}}</td>
        <td>{{animal.descricao}}</td>
        <td class="acoes">
          <button class="button is-link" (click)="editarAnimal(animal)">Editar</button>
          <button class="button is-danger" (click)="deletaAnimal(animal)">Excluir</button>
          <button class="button is-success" (click)="detalharAnimal(animal)">Detalhar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- modais -->
  <app-modal-detalhar-animal [modal]="modalDetalhar" [animal]="animalDetalhar" (emitCloseModalDetalhar)="modalDetalhar = false"></app-modal-detalhar-animal>
  <app-modal-editar-animal
    [modal]="modalEditar"
    [animal]="animalEditar"
    (emitCloseModalEditar)="modalEditar = false"
    (emitUpdateAnimals)="updateAnimals()"
    (emitAlertSucessoAtualizar)="alertSucessoAtualizar = true"
    (emitAlertErroAtualizar)="alertErroAtualizar = true"></app-modal-editar-animal>
  <app-modal-adicionar-animal
    [modal]="modalAdicionar"
    (emitCloseModalEditar)="modalAdicionar = false"
    (emitUpdateAnimals)="updateAnimals()"
    (emitErroAdicionar)="alertErroAdicionar = true"
    (emitSucessoAdicionar)="alertSucessoAdicionar = true"></app-modal-adicionar-animal>
  <!-- final modais -->

  <!-- alerts -->
  <div class="notification is-danger" *ngIf="alertErroDeletar">
    <button class="delete" (click)="alertErroDeletar = false"></button>
    Ocorreu um erro ao deletar o animal.
  </div>
  <div class="notification is-success mr-6" *ngIf="alertSucessoDeletar">
    <button class="delete" (click)="alertSucessoDeletar = false"></button>
    Animal deletado com sucesso.
  </div>
  <div class="notification is-danger" *ngIf="alertErroAdicionar">
    <button class="delete" (click)="alertErroAdicionar = false"></button>
    Ocorreu um erro ao adiconar o animal.
  </div>
  <div class="notification is-success mr-6" *ngIf="alertSucessoAdicionar">
    <button class="delete" (click)="alertSucessoAdicionar = false"></button>
    Animal adicionado com sucesso.
  </div>
  <div class="notification is-danger" *ngIf="alertErroAtualizar">
    <button class="delete" (click)="alertErroAtualizar = false"></button>
    Ocorreu um erro ao atualizar o animal.
  </div>
  <div class="notification is-success mr-6" *ngIf="alertSucessoAtualizar">
    <button class="delete" (click)="alertSucessoAtualizar = false"></button>
    Animal atualizado com sucesso.
  </div>
  <!-- final alerts -->
</div>

