table, td, th {
  border: 1px solid #DDD;
  width:14.2%;
  padding:5px;
}
th {
  background: #91afcc;
}

table {
  width: 1000px;
  border-collapse: collapse;
}

.main{
  margin-left: 10%;
}

button{
  margin-inline: 5px;
}

.acoes{
  width: 25%;
}
