<app-tabs tab="animais"></app-tabs>
<div class="container mt-5 main">
  <div class="columns">
    <div class="column">
      <h1 class="title">Animais</h1>
    </div>
    <div class="column btn-novo">
      <button class="button is-info" (click)="adicionarAnimal()">Novo Animal</button>
    </div>
  </div>
  <table class="table is-bordered is-striped">
    <thead>
      <th>Nome</th>
      <th>Espécie</th>
      <th>Tamanho</th>
      <th>Descrição</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td>{{animal.nome}}</td>
        <td>{{animal.especie.nome}}</td>
        <td>{{retirarUnderscore(animal.tamanho) | titlecase}}</td>
        <td>{{animal.descricao}}</td>
        <td class="acoes">
          <button class="button is-link" (click)="editarAnimal(animal)">Editar</button>
          <button class="button is-danger" (click)="deletaAnimal(animal)">Excluir</button>
          <button class="button is-success" (click)="detalharAnimal(animal)">Detalhar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-modal-detalhar-animal [modal]="modalDetalhar" [animal]="animalDetalhar" (emitCloseModalDetalhar)="modalDetalhar = false"></app-modal-detalhar-animal>
  <app-modal-editar-animal [modal]="modalEditar" [animal]="animalEditar" (emitCloseModalEditar)="modalEditar = false" (emitUpdateAnimals)="updateAnimals()"></app-modal-editar-animal>
  <app-modal-adicionar-animal [modal]="modalAdicionar" (emitCloseModalEditar)="modalAdicionar = false"></app-modal-adicionar-animal>
</div>

