<app-tabs tab="especies"></app-tabs>
<div class="container mt-5 main">
  <div class="columns">
    <div class="column">
      <h1 class="title">Espécies</h1>
    </div>
    <div class="column btn-novo">
      <button class="button is-info" (click)="adicionarEspecie()">Nova Espécie</button>
    </div>
  </div>
  <table class="table is-bordered is-striped">
    <thead>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let especie of especies">
        <td>{{especie.nome}}</td>
        <td>{{especie.descricao}}</td>
        <td>{{especie.status | titlecase}}</td>
        <td class="acoes">
          <button class="button is-link" (click)="editarEspecie(especie)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--modais -->
  <app-modal-editar-especie
    [modal]="modalEditar"
    [especie]="especieEditar"
    (emitCloseModalEditar)="modalEditar = false"
    (emitUpdateEspecie)="updateEspecies()"
    (emitAlertSucessoAtualizar)="alertSucessoAtualizar = true"
    (emitAlertErroAtualizar)="alertErroAtualizar = true"></app-modal-editar-especie>
  <app-modal-adicionar-especie
    (emitCloseModalEditar)="modalAdicionar = false"
    [modal]="modalAdicionar"
    (emitUpdateEspecies)="updateEspecies()"
    (emitAlertSucessoAdicionar)="alertSucessoAdicionar = true"
    (emitAlertErroAdicionar)="alertErroAdicionar = true"></app-modal-adicionar-especie>
  <!--final modais -->

  <!-- alerts -->
  <div class="notification is-danger" *ngIf="alertErroAdicionar">
    <button class="delete" (click)="alertErroAdicionar = false"></button>
    Ocorreu um erro ao salvar a espécie.
  </div>
  <div class="notification is-success mr-6" *ngIf="alertSucessoAdicionar">
    <button class="delete" (click)="alertSucessoAdicionar = false"></button>
    Espécie salva com sucesso.
  </div>
  <div class="notification is-danger" *ngIf="alertErroAtualizar">
    <button class="delete" (click)="alertErroAtualizar = false"></button>
    Ocorreu um erro ao atualizar a espécie.
  </div>
  <div class="notification is-success mr-6" *ngIf="alertSucessoAtualizar">
    <button class="delete" (click)="alertSucessoAtualizar = false"></button>
    Espécie atualizada com sucesso.
  </div>
  <!-- final alerts -->
</div>
