<app-tabs tab="especies"></app-tabs>
<div class="container mt-5 main">
  <div class="columns">
    <div class="column">
      <h1 class="title">Espécies</h1>
    </div>
    <div class="column btn-novo">
      <button class="button is-info" (click)="adicionarEspecie()">Nova Espécie</button>
    </div>
  </div>
  <table class="table is-bordered is-striped">
    <thead>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let especie of especies">
        <td>{{especie.nome}}</td>
        <td>{{especie.descricao}}</td>
        <td>{{especie.status | titlecase}}</td>
        <td class="acoes">
          <button class="button is-link" (click)="editarEspecie(especie)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-modal-editar-especie [modal]="modalEditar" [especie]="especieEditar" (emitCloseModalEditar)="modalEditar = false" (emitUpdateEspecie)="updateEspecies()"></app-modal-editar-especie>
  <app-modal-adicionar-especie (emitCloseModalEditar)="modalAdicionar = false" [modal]="modalAdicionar"></app-modal-adicionar-especie>
</div>
